<div class="col-xs-12 col-md-4 col-md-offset-4 margin-top-25">

	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3 class="panel-title">Iniciar sesión</h3>
		</div>

		<div class="panel-body">

			<div ng-if="alertas.length > 0" class="alert alert-warning">
				{{alertas}}
			</div>

			<form class="form" ng-if="!isAuthenticated">

				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" name="nombre" ng-model="user.nombre" class="form-control"/>
				</div>

				<div class="form-group">
					<label for="correo">Email</label>
					<input type="email" name="correo" ng-model="user.correo" class="form-control"/>
				</div>

				<div class="form-group">
					<label for="clave">Password</label>
					<input type="password" name="clave" ng-model="user.clave" class="form-control"/>
				</div>

				<button type="button" ng-click="login()" class="btn btn-default">Iniciar sesión</button>

			</form>

			<p ng-if="isAuthenticated">Bienvenido: {{user.nombre}}.</p>

		</div>

	</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid text-center">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Login Tests</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a ng-href="" ng-click="loginTest(UsuariosTest.COMPRADOR)">COMPRADOR</a></li>
				<li><a ng-href="" ng-click="loginTest(UsuariosTest.ADMIN)">ADMIN</a></li>
				<li><a ng-href="" ng-click="loginTest(UsuariosTest.VEND)">VEND</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>