<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="text-center" width="30">ID</th>
			<th class="text-left">Nombre</th>
			<td class="text-left">Correo</td>
			<td class="text-left">
				Tipo:
				<select ng-model="filtroTipo" ng-change="cambioFiltroTipo()">
					<option value="" selected="selected">Todos</option>
					<option value="administrador">Administrador</option>
					<option value="vendedor">Vendedor</option>
					<option value="comprador">Comprador</option>
				</select>
			</td>
			<td ng-if="user.tipo != 'comprador'" class="text-center" width="50">Borrar</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in usuarios">
			<td class="text-center" width="30">{{u.id}}</td>
			<td class="text-left"><a ui-sref="usuarios.editar({id: u.id})" title="Editar">{{u.nombre}}</a></td>
			<td class="text-left">{{u.correo}}</td>
			<td class="text-left">{{u.tipo}}</td>
			<td class="text-center" width="50"><a ng-click="borrar(u.id)" ng-href=""><i class="glyphicon glyphicon-remove"></i></a></td>
		</tr>
	</tbody>
</table>